<link href="__PUBLIC__/Jf/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Jf/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Jf/css/pager.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="__PUBLIC__/Jf/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Jf/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Jf/layer/layer.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.flexslider').flexslider({
            directionNav: true,
            pauseOnAction: false
        });
    });
</script>