
    <div class="top1">
        <div class="box">
            <a href="{:U('User/login')}">登录</a>&nbsp;&nbsp;&nbsp;<a href="{:U('User/register')}">免费注册</a>&nbsp;&nbsp;<a href="__APP__">宝岛官网</a>
        </div>
    </div><!--top1 end-->
    <div class="top2">
        <a href="index.html" class="logo"><img src="__PUBLIC__/Jf/images/logo.png"></a>
        <div class="nav">
            <ul>
                <li><a href="__APP__">积分商城首页</a></li>
                <li><a href="gift.html">积分礼品</a></li>
                <li><a href="ticket.html">积分换券</a></li>
                <li><a href="activity.html">礼品活动</a></li>
            </ul>
        </div><!--nav end-->
        <div class="clear"></div>
    </div><!--top2 end-->
