
    <div class="top1">
        <div class="box">
            <?php if(empty(session('userId'))): ?>
            <a href="{:U('User/login')}">登录</a>&nbsp;&nbsp;&nbsp;<a href="{:U('User/register')}">免费注册</a>&nbsp;&nbsp;<a href="__APP__">宝岛官网</a>
            <?php endif; ?>

            <?php if(!empty(session('userId'))): ?>
            <a href="{:U('User/index')}"><?php echo session('nickname'); ?></a>&nbsp;&nbsp;&nbsp;<a href="{:U('User/logout')}">退出</a>&nbsp;&nbsp;<a href="__APP__">宝岛官网</a>
            <?php endif; ?>

        </div>
    </div><!--top1 end-->
    <div class="top2">
        <a href="__APP__" class="logo"><img src="__PUBLIC__/Jf/images/logo.png"></a>
        <div class="nav">
            <ul>
                <li><a href="__APP__">积分商城首页</a></li>
                <li><a href="{:U('Article/index', array('category'=>'jfdh'))}">积分礼品</a></li>
                <li><a href="{:U('Article/index', array('category'=>'jfhj'))}">积分换券</a></li>
                <li><a href="{:U('Article/index', array('category'=>'lphd'))}">礼品活动</a></li>
            </ul>
        </div><!--nav end-->
        <div class="clear"></div>
    </div><!--top2 end-->
