<extend name="Base/common"/>
<block name="body">
    <div class="head">
        <include file="Public/jf_nav"/>

    </div>
    <div class="main">
        <div class="position">
            您现在的位置是：&nbsp;<a href="index.html">积分商城首页</a>&nbsp;&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;&nbsp;<a href="forget1.html">找回密码</a>
        </div><!--position end-->
        <div class="forget">
            <div class="tit">找回密码</div>
            <form action="" id="forget_form">
            <div class="pic" align="center"><img src="__PUBLIC__/Jf/images/forget_01.png"></div>
            <table align="center">
                <tbody><tr height="45">
                    <td align="right">帐号：</td>
                    <td colspan="3"><input type="text" name="email" class="textbox1" placeholder="邮箱"></td>
                </tr>
                <tr height="45">
                    <td align="right">验证码：</td>
                    <td width="153"><input type="text" class="textbox2" name="verify" placeholder="验证码"></td>
                    <td><img src="{:U('verify')}" class="yzm" id="yzm" style="cursor: pointer"></td>

                </tr>
                <tr height="55">
                    <td align="right">&nbsp;</td>
                    <td colspan="3"><a href="javascript:;">
                        <div class="btn" id="next">下一步</div></a></td>
                </tr>
                </tbody></table>
            </form>
            <script>
                $("input").focus(function(){
                    $(this).css('border-color','#ff0000');
                });
                $("input").blur(function(){
                    $(this).css('border-color','#b3b3b3');
                });
                $("#yzm").click(function(){
                    $("#yzm").attr('src',$("#yzm").attr('src')+"&random="+Math.random());
                });
                $("#next").click(function(){
                    //if(){}
                    var data = $("#forget_form").serialize();
                    $.ajax({
                        url:"{:U('forget1_ajax')}",
                        data:data,
                        type:'POST',
                        success:function(msg){
                            if(msg == 1){
                                layer.alert("验证码错误",{icon:5});

                            }else if(msg == 2){
                                layer.alert("用户不存在",{icon:5});


                            }else if(msg ==3){
                                window.location.href="{:U('forget2')}";
                            }else{
                                layer.alert("服务器错误", {icon:5})
                            }

                        }
                    });
                });
            </script>
        </div><!--forget end-->
    </div>
    <!--main end-->
</block>