<extend name="Base/common"/>
<block name="body">
    <div class="head">
        <include file="Public/jf_nav"/>

    </div>
    <div class="main">
        <div class="position">
            您现在的位置是：&nbsp;<a href="index.html">积分商城首页</a>&nbsp;&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;&nbsp;<a href="forget1.html">找回密码</a>
        </div><!--position end-->
        <div class="forget">
            <div class="tit">找回密码</div>
            <div class="pic" align="center"><img src="__PUBLIC__/Jf/images/forget_01.png"></div>
            <table align="center">
                <tbody><tr height="45">
                    <td align="right">帐号：</td>
                    <td colspan="3"><input type="text" class="textbox1" placeholder="邮箱/手机号"></td>
                </tr>
                <tr height="45">
                    <td align="right">验证码：</td>
                    <td width="153"><input type="text" class="textbox2" placeholder="验证码"></td>
                    <td><img src="{:U('User/verify')}" class="yzm" id="yzm"></td>
                    <!--<td><a href="" class="change">换一张</a></td>-->
                </tr>
                <tr height="55">
                    <td align="right">&nbsp;</td>
                    <td colspan="3"><a href="forget2.html"><div class="btn">下一步</div></a></td>
                </tr>
                </tbody></table>
            <script>
                $("input").focus(function(){
                    $(this).css('border-color','#ff0000');
                });
                $("input").blur(function(){
                    $(this).css('border-color','#b3b3b3');
                });]
            </script>
        </div><!--forget end-->
    </div>
    <!--main end-->
</block>