<extend name="Base/common"/>
<block name="body">
    <div class="head">
        <include file="Public/jf_nav"/>

    </div>
    <div class="line2"></div>
    <div class="main">
        <div class="position">
            您现在的位置是：&nbsp;<a href="index.html">积分商城首页</a>&nbsp;&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;&nbsp;<a href="personal_01.html">个人中心</a>
        </div><!--position end-->
        <div class="personal">
            <div class="personal_left">
                <div class="title">个人中心</div>
                <include file="Public/user_nav"/>
            </div><!--personal_left end-->
            <div class="personal_right">
                <div class="right_top">
                    <div class="title">我的订单</div>
                </div>
                <div class="personal_order">
                    <li>
                        <table border="0">
                            <tbody><tr>
                                <td colspan="6" class="num">订单编号：0000001号</td>
                            </tr>
                            <tr height="83">
                                <td width="180"><img src="images/img_19.jpg" width="116" height="68"></td>
                                <td width="180">商品名称</td>
                                <td width="148">蓝色*1</td>
                                <td width="146">￥3000.00</td>
                                <td width="134" class="sm">
                                    <p><span>交易成功</span></p>
                                    <p>2015-06-15 9:30</p>
                                </td>
                                <td class="sm">
                                    <p><a href="">删除</a></p>
                                    <p><a href="">再次购买</a></p>
                                </td>
                            </tr>
                            </tbody></table>
                    </li>
                    <li>
                        <table border="0">
                            <tbody><tr>
                                <td colspan="6" class="num">订单编号：0000002号</td>
                            </tr>
                            <tr height="83">
                                <td width="180"><img src="images/img_19.jpg" width="116" height="68"></td>
                                <td width="180">商品名称</td>
                                <td width="148">蓝色*1</td>
                                <td width="146">￥3000.00</td>
                                <td width="134" class="sm">
                                    <p><span>交易成功</span></p>
                                    <p>2015-06-15 9:30</p>
                                </td>
                                <td class="sm">
                                    <p><a href="">删除</a></p>
                                    <p><a href="">再次购买</a></p>
                                </td>
                            </tr>
                            </tbody></table>
                    </li>
                </div><!--personal_order-->
            </div>
            <div class="clear"></div>
        </div><!--personal end-->
    </div>


</block>