<extend name="Base/common"/>
<block name="body">
    <div class="head">
        <include file="Public/jf_nav"/>

    </div>
    <div class="line2"></div>
    <div class="main">
        <div class="position">
            您现在的位置是：&nbsp;<a href="index.html">积分商城首页</a>&nbsp;&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;&nbsp;<a href="personal_01.html">个人中心</a>
        </div><!--position end-->
        <div class="personal">
            <div class="personal_left">
                <div class="title">个人中心</div>
                <include file="Public/user_nav"/>
            </div><!--personal_left end-->
            <div class="personal_right">
                <div class="right_top">
                    <div class="title">我的订单</div>
                </div>
                <div class="personal_order">
                    <?php foreach($data as $key => $value): ?>
                    <li>
                        <table border="0">
                            <tbody><tr>
                                <td colspan="6" class="num">
                                    订单编号：
                                    <?php echo $value['addtime'].$value['id']; ?>


                                </td>
                            </tr>
                            <tr height="83">
                                <?php
                                   $good = M("document")->find($value['good_id']);

                                 ?>
                                <td width="180"><img src="" width="116" height="68"></td>
                                <td width="180"><?php echo $good['title'] ?></td>
                                <td width="148"><?php echo '数量：'.$value['num'] ?></td>
                                <td width="146">
                                    <?php
                                        if($value['type']==1){
                                            echo $value['sum']."积分";
                                        }else{
                                            echo $value['sum']."元";
                                        }
                                    ?>
                                </td>
                                <td width="134" class="sm">

                                    <p><?php echo date("Y-m-d H:i:s", $value['addtime']); ?></p>
                                </td>
                                <td class="sm">

                                    <p><a href="<?php echo U('Home/article/detail', array('id'=>$value['good_id'])); ?>">再次购买</a></p>
                                </td>
                            </tr>
                            </tbody></table>
                    </li>
                    <?php  endforeach;?>


                </div><!--personal_order-->
            </div>
            <div class="clear"></div>
        </div><!--personal end-->
    </div>


</block>