<extend name="Base/common" />


<block name="body">
    <div class="head">
        <include file="Public/jf_nav"/>

    </div>
    <div class="main">
        <div style="height:38px;"></div>
        <div class="login_pic"><img src="__PUBLIC__/Jf/images/img_login.jpg" /></div>
        <div class="login">
            <div class="tit">
                <span>请注册</span>已注册？&nbsp;<a href="">登录</a>
            </div><!--tit end-->
            <form action="__SELF__" method="post" id="reg_form" >
            <table border="0">
                <tr height="58">
                    <td colspan="3"><input type="text" class="textbox1" name="username"  placeholder="邮箱/手机号" /></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="radio" name="sex" class="radio" checked value="1" /><span>先生</span>
                        <input type="radio" name="sex" class="radio" value="0" style="margin-left:20px;" /><span>女士</span>
                    </td>
                </tr>
                <tr height="58">
                    <td colspan="3">
                        <input name="password" type="password" class="textbox1" placeholder="密码" /></td>
                </tr>
                <tr height="58">
                    <td colspan="3">
                        <input name="repassword" type="password" class="textbox1" placeholder="确认密码" />
                    </td>
                </tr>
                <tr height="58">
                    <td width="153"><input type="text" class="textbox2" placeholder="验证码" name="verify" /></td>
                    <td><img src="{:U('User/verify')}" class="yzm" id="yzm" style="cursor: pointer" /></td>

                </tr>
                <tr height="75">
                    <td colspan="3"><a href="javascript:;"><div class="btn" id="reg_sub">注册</div></a></td>
                </tr>
                <tr height="50">
                    <td colspan="3" class="sure"><input type="checkbox" class="checkbox" />我已阅读并接受<a href="">宝岛服务条款</a></td>
                </tr>
            </table>
            </form>
            <script>
                $("input").focus(function(){
                    $(this).css('border-color','#ff0000');
                });
                $("input").blur(function(){
                    $(this).css('border-color','#b3b3b3');
                });
                $("#yzm").click(function(){
                    var src = $("#yzm").attr("src");
                    $("#yzm").attr("src",src+"&random="+Math.random());
                });
                $("#reg_sub").click(function(){
                    $("#reg_form").submit();
                });

            </script>
        </div><!--login end-->
        <div class="clear" style="height:90px;"></div>
    </div><!--main end-->

</block>
