<extend name="Base/common"/>
<block name="body">
    <div class="head">
        <include file="Public/jf_nav"/>

    </div>
    <div class="line2"></div>
    <div class="main">
        <div class="position">
            您现在的位置是：&nbsp;<a href="index.html">积分商城首页</a>&nbsp;&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;&nbsp;<a href="personal_01.html">个人中心</a>
        </div><!--position end-->
        <div class="personal">
            <div class="personal_left">
                <div class="title">个人中心</div>
                <include file="Public/user_nav"/>
            </div><!--personal_left end-->
            <div class="personal_right">
                <div class="right_top">
                    <div class="title">收货地址</div>
                </div>
                <div class="right_info">
                    <form method="post" action="__SELF__">
                        <div class="personal_table">
                            <table border="0">
                                <tbody><tr height="50">
                                    <td align="right"><span>*</span>收货人：</td>
                                    <td><input type="text" class="textbox1" name="truename" value="<?php echo $data['truename'] ?>"></td>
                                </tr>
                                <tr height="50">
                                    <td align="right"><span>*</span>联系电话：</td>
                                    <td><input type="text" class="textbox1" name="phone" value="<?php echo $data['phone'] ?>"></td>
                                </tr>
                                <tr height="50">
                                    <td align="right"><span>*</span>所在地地址：</td>
                                    <td><input type="text" class="textbox2" name="address" value="<?php echo $data['address'] ?>"></td>
                                </tr>
                                </tbody></table>
                        </div><!--personal_table end-->
                        <div align="center" class="personal_btn">
                            <input type="submit" value="提交" class="button">
                            <input type="reset" class="reset">
                        </div>
                    </form>
                </div><!--right_info end-->
            </div>
            <div class="clear"></div>
        </div><!--personal end-->
    </div>


</block>