<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu"/>
</block>

<block name="body">
    <!-- 标题 -->
    <div class="main-title">

    </div>

    <!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <div class="btn-group">

                <a class="btn " href="{:U('addQuan')}">新 增</a>

            </div>

        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table>
            <!-- 表头 -->
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>面值</th>
                <th>密文</th>
                <th>状态</th>
                <th>添加时期</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($data as $key=>$value): ?>
            <tr>
                <td><?php echo $value['id'] ?></td>
                <td><?php echo $value['jifen'] ?>分</td>
                <td><?php echo $value['jfvalue'] ?></td>
                <td><?php echo $status = $value['status']==1?"已用":"未用"; ?></td>

                <td><?php echo date("Y-m-d H:i:s", $value['time']) ?></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>


</block>

