<extend name="Public/user_base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>用户列表</h2>
    </div>

    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>

                <th class="">UID</th>
                <th class="">昵称</th>
                <th>性别</th>
                <th>邮箱</th>
                <th>生日</th>
                <th>电话</th>
                <th>固定电话</th>
                <th>地址</th>
                <th>真实姓名</th>
                <th>积分</th>

            </tr>
            </thead>
            <tbody>
            <?php foreach($data as $key =>$value): ?>
                    <tr>
                        <td><?php echo $value['uid']; ?> </td>
                        <td><?php echo $value['nickname']; ?></td>
                        <td><?php echo $value['sex']==1?"男":"女" ?></td>
                        <td><?php echo $value['email'] ?></td>
                        <td><?php echo $value['birthday'] ?></td>
                        <td><?php echo $value['phone'] ?></td>
                        <td><?php echo $value['gddh'] ?></td>
                        <td><?php echo $value['address'] ?></td>
                        <td><?php echo $value['truename'] ?></td>
                        <td><?php echo $value['jifen'] ?></td>


                    </tr>
            <?php endforeach; ?>



            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
